.App{
  background-color: black;
  height: 100vh;
  width: 100%;
  padding:5% 0;
  margin: 0;
  justify-content: center;
  align-items: center;
}
.todowrapper{
  background-color: gold;
  width: 30%;
  padding: 3%;
  margin-left: 38%;
  border-radius: 5px;
}
.todowrapper h1{
  text-align: center;
}
.TodoForm{
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;

}
.TodoForm input{
  width: 80.5%;
  border: none;
  font-size: 12px;
  background-color: transparent;
  padding-left: 7px;
  outline: none;
}
.TodoForm button{
  background-color: black;
  padding: 7px;
  color: white;
  font-size: 12px;
  border: none;
}
.todo{
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  margin-top: 5%;
  height: 7vh;
  padding: 0 7px;
}
.todo-icon{
  display: flex;

  
}
.todo P{
  font-size: 13PX;
}